.arrow {
    position: absolute;
    padding: 3rem; /* Arrow size */
    box-shadow: 1px -1px 0 1px plum inset;
    -webkit-box-shadow: 2px -2px plum inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transition: 0.2s;
}

.arrow:hover {
    box-shadow: 2px -2px 0 2px orchid inset;
    -webkit-box-shadow: 4px -4px orchid inset;
}

.arrow-right {
    transform: rotate(225deg);
    top: 50%;
    right: 125%;
}

.arrow-left {
    transform: rotate(45deg);
    top: 50%;
    left: 0%;
}

/* Codepen layout: */
html {
    height: 100%;
}

body {
    background-color: lavender;
}



a:nth-child(2) {
    left: 65%;
}

/* Video link: */
.video {
    font-family: sans-serif;
    font-size: 20px;
    color: plum;
    top: 2rem;
    left: 2rem;
    position: absolute;
}

.video:hover {
    color: orchid;
}
