.rightButton {
    position: relative;
    height: 20vh;
    top: 25vh;
    margin-left: auto;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    opacity: 0.4;
    color: white;
}

.leftButton {
    position: relative;
    top: 25vh;
    display: block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 0.4;
    color: white;
}
