.rightButton {
    top: 50%;
    height: 15vh;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: block;
    opacity: 0.4;
    color: white;
}

.leftButton {
    top: 50%;
    height: 15vh;
    display: block;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    opacity: 0.4;
    color: white;
}
